* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: HZK-12px;
    src: url("../fonts/hzk-pixel-12px.otf.woff2");
}

@font-face {
    font-family: HZK-16px;
    src: url("../fonts/hzk-pixel-16px.otf.woff2");
}
@font-face {
    font-family: HZKF-16px;
    src: url("../fonts/hzk-pixelF-16px.otf.woff2");
}
@font-face {
    font-family: HZKS-16px;
    src: url("../fonts/hzk-pixelS-16px.otf.woff2");
}

@font-face {
    font-family: HZKF-24px;
    src: url("../fonts/hzk-pixelF-24px.otf.woff2");
}
@font-face {
    font-family: HZKH-24px;
    src: url("../fonts/hzk-pixelH-24px.otf.woff2");
}
@font-face {
    font-family: HZKK-24px;
    src: url("../fonts/hzk-pixelK-24px.otf.woff2");
}
@font-face {
    font-family: HZKS-24px;
    src: url("../fonts/hzk-pixelS-24px.otf.woff2");
}

@font-face {
    font-family: HZK-32px;
    src: url("../fonts/hzk-pixel-32px.otf.woff2");
}

@font-face {
    font-family: HZK-40px;
    src: url("../fonts/hzk-pixel-40px.otf.woff2");
}

@font-face {
    font-family: HZK-48px;
    src: url("../fonts/hzk-pixel-48px.otf.woff2");
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 192px;
}

@media screen and (max-width: 1006px) {
    body {
        width: 750px;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media screen and (max-width: 750px) {
    body {
        width: 100%;
        padding-left: 64px;
        padding-right: 64px;
    }
}

.title {
    margin-top: calc(var(--size) * 2);
    margin-bottom: var(--size);
    font-size: calc(var(--size) * 3);
    font-weight: normal;
    line-height: calc(var(--size) * 4);
}

.content {
    margin-top: var(--size);
    margin-bottom: var(--size);
    font-size: calc(var(--size) * 2);
    line-height: calc(var(--size) * 3);
}

.font-12px {
    font-family: HZK-12px, serif;
    letter-spacing: 1px;
    --size: 12px;
}

.font-16px {
    font-family: HZK-16px, serif;
    letter-spacing: 1px;
    --size: 16px;
}

.font-16px.hzks {
    font-family: HZKS-16px, serif;
}
.font-16px.hzkf {
    font-family: HZKF-16px, serif;
}

.font-24px {
    font-family: HZK-24px, serif;
    letter-spacing: 1px;
    --size: 24px;
}

.font-24px.hzkf {
    font-family: HZKF-24px, serif;
}
.font-24px.hzkh {
    font-family: HZKH-24px, serif;
}
.font-24px.hzkk {
    font-family: HZKK-24px, serif;
}
.font-24px.hzks {
    font-family: HZKS-24px, serif;
}

.font-32px {
    font-family: HZK-32px, serif;
    letter-spacing: 1px;
    --size: 32px;
}

.font-40px {
    font-family: HZK-40px, serif;
    letter-spacing: 1px;
    --size: 40px;
}

.font-48px {
    font-family: HZK-48px, serif;
    letter-spacing: 1px;
    --size: 48px;
}